.bleq{ background-color: black;
width: 1520px;
height: 740px;}
.boqs{
    margin-top: 320px;
    margin-inline: 600px; 
    width: 350px;
height: 70px;
color: #720404;
background-color: rgb(76, 4, 74);}
.bol{
    background-color: rgb(6, 6, 6);
    width: 1541px;
    height: 90px;
margin-inline: -30px ;
margin-top: -10px;}
    
    .Cars{
    margin-block:45px;
            margin-left:150px;
            background-color: rgb(177, 172, 177);}